.address{
  text-align: center;
  justify-content: center;
  margin-left:450px;
  margin-top:0px;
  border: 1px solid grey;
  padding: 50px;
  background-color: brown;
  color: white;
}

.dialog {
  height : 100vh;
  width : 100vw; 
  opacity: 1;
  background-color: lightgreen ;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: start;
  line-height: 1rem;
  z-index: 1;
  }

.dialog-root{
  border: none;
  text-align: center;
  margin-left: 450px;
}

body{
  background-image:repeating-radial-gradient(circle, yellow , green 20%);
}


button{
  margin-top: 20px;
  margin-left: 10rem;
}
button:hover{
  background-color: green;
  color:white
}


.b2{
  font-size: 16px;
  color: maroon;
  margin-left: 20rem;
}

h3{
  text-transform: uppercase;
  text-align: center;
  margin-left: -35rem;
}
.btn5{
  text-align: center;
  margin-left: -10px;
}

th{
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
}
td{
  color: darkgreen;
  font-size: 10px;
  font-weight: bold;
}

table{
  height: 200px;
  text-align: center;
  margin-left: 100px;

}





